/* line 1, paragraph.sass */
body {
  font-size: 10px;
  line-height: 1.4;
  font-family: 'Hind', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden; }

/* line 10, paragraph.sass */
p {
  font-size: 1.6rem;
  margin: 0 0 0.5rem 0;
  line-height: 1.4;
  color: darkslategray; }

/* line 15, paragraph.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display SC', serif;
  margin: 0 0 0.5rem 0; }

/* line 19, paragraph.sass */
picture, img {
  display: block; }

/* line 21, paragraph.sass */
picture {
  max-width: 100%; }
  /* line 23, paragraph.sass */
  picture img {
    width: 100%; }

/* line 25, paragraph.sass */
button {
  display: flex;
  flex-wrap: wrap; }

/* line 28, paragraph.sass */
#configuration {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffffff78;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  /* line 38, paragraph.sass */
  #configuration button {
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem; }
    /* line 44, paragraph.sass */
    #configuration button.active {
      background-color: green; }

/* line 46, paragraph.sass */
.paragraph-content {
  border: 1px dashed lightgrey;
  padding: 2rem;
  font-size: 0.6rem; }
  @media (min-width: 768px) {
    /* line 46, paragraph.sass */
    .paragraph-content {
      font-size: 0.8rem; } }
  @media (min-width: 1200px) {
    /* line 46, paragraph.sass */
    .paragraph-content {
      font-size: 1rem; } }

/* line 54, paragraph.sass */
.container {
  margin: 0 auto;
  padding: 4rem 0;
  width: 90vw; }
  @media (min-width: 1200px) {
    /* line 54, paragraph.sass */
    .container {
      width: 70vw; } }

/* line 60, paragraph.sass */
button {
  outline: none;
  border: none; }

/* line 65, paragraph.sass */
.content p {
  font-size: 1.6em; }

/* line 67, paragraph.sass */
.image {
  margin-bottom: 0.5rem; }

/* line 69, paragraph.sass */
.headline {
  font-size: 3.2em;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase; }

/* line 74, paragraph.sass */
.subtitle {
  font-size: 2.4em;
  line-height: 1.2;
  font-weight: 700;
  color: black; }
  /* line 79, paragraph.sass */
  .subtitle--inline {
    font-size: 2.4em;
    line-height: 1.2;
    font-weight: 700;
    color: black; }

/* line 84, paragraph.sass */
.template-1 {
  display: grid; }
  /* line 86, paragraph.sass */
  .template-1 .headline {
    order: 1; }
  /* line 88, paragraph.sass */
  .template-1 .subtitle {
    order: 3; }
  /* line 90, paragraph.sass */
  .template-1 .image {
    order: 2; }
  /* line 92, paragraph.sass */
  .template-1 .content {
    order: 4; }

/* line 94, paragraph.sass */
.template-2 {
  display: grid; }
  /* line 96, paragraph.sass */
  .template-2 .headline {
    order: 2;
    margin-bottom: 0; }
  /* line 99, paragraph.sass */
  .template-2 .subtitle {
    order: 3; }
  /* line 101, paragraph.sass */
  .template-2 .image {
    order: 1; }
  /* line 103, paragraph.sass */
  .template-2 .content {
    order: 4; }

/* line 105, paragraph.sass */
.template-3 {
  display: grid; }
  /* line 109, paragraph.sass */
  .template-3 .headline {
    order: 1; }
    @media (min-width: 480px) {
      /* line 109, paragraph.sass */
      .template-3 .headline {
        order: 2;
        grid-row: 2/3;
        grid-column: 2/3;
        background-color: black;
        color: white;
        text-align: center;
        padding: 0.5rem 1rem; } }
  /* line 119, paragraph.sass */
  .template-3 .subtitle {
    order: 3; }
    @media (min-width: 480px) {
      /* line 119, paragraph.sass */
      .template-3 .subtitle {
        grid-row: 4;
        grid-column: 1/4; } }
  /* line 124, paragraph.sass */
  .template-3 .image {
    order: 2; }
    @media (min-width: 480px) {
      /* line 124, paragraph.sass */
      .template-3 .image {
        order: 1;
        grid-row: 1/4;
        grid-column: 1/4; } }
  /* line 130, paragraph.sass */
  .template-3 .content {
    order: 4; }
    @media (min-width: 480px) {
      /* line 130, paragraph.sass */
      .template-3 .content {
        grid-row: 5;
        grid-column: 1/4; } }

/* line 135, paragraph.sass */
.template-4 {
  display: grid; }
  /* line 141, paragraph.sass */
  .template-4 .headline {
    order: 1; }
    @media (min-width: 480px) {
      /* line 141, paragraph.sass */
      .template-4 .headline {
        order: 2;
        grid-row: 1/2;
        grid-column: 1/3;
        background-color: #00000073;
        color: white;
        padding: 0.5rem 1rem;
        margin: 1rem; } }
  /* line 151, paragraph.sass */
  .template-4 .subtitle {
    order: 3; }
    @media (min-width: 480px) {
      /* line 151, paragraph.sass */
      .template-4 .subtitle {
        grid-row: 4;
        grid-column: 1/4; } }
  /* line 156, paragraph.sass */
  .template-4 .image {
    order: 2; }
    @media (min-width: 480px) {
      /* line 156, paragraph.sass */
      .template-4 .image {
        order: 1;
        grid-row: 1/4;
        grid-column: 1/4; } }
  /* line 162, paragraph.sass */
  .template-4 .content {
    order: 4; }
    @media (min-width: 480px) {
      /* line 162, paragraph.sass */
      .template-4 .content {
        grid-row: 5;
        grid-column: 1/4; } }

/* line 167, paragraph.sass */
.template-5 {
  display: grid; }
  /* line 171, paragraph.sass */
  .template-5 .headline {
    order: 1; }
    @media (min-width: 480px) {
      /* line 171, paragraph.sass */
      .template-5 .headline {
        order: 2;
        grid-row: 3;
        grid-column: 1/4;
        background-color: #00000073;
        color: white;
        text-align: center;
        padding: 0.5rem 1rem; } }
  /* line 181, paragraph.sass */
  .template-5 .subtitle {
    order: 3; }
    @media (min-width: 480px) {
      /* line 181, paragraph.sass */
      .template-5 .subtitle {
        grid-row: 4;
        grid-column: 1/4; } }
  /* line 186, paragraph.sass */
  .template-5 .image {
    order: 2; }
    @media (min-width: 480px) {
      /* line 186, paragraph.sass */
      .template-5 .image {
        order: 1;
        grid-row: 1/4;
        grid-column: 1/4; } }
  /* line 192, paragraph.sass */
  .template-5 .content {
    order: 4; }
    @media (min-width: 480px) {
      /* line 192, paragraph.sass */
      .template-5 .content {
        grid-row: 5;
        grid-column: 1/4; } }
